.number-box {
    display: flex;
    flex-direction: row;
    font-family: ChiswickGrotesqueLebara-Bold, sans-serif;
    color: rgb(26, 31, 69);
    font-size: 32px;
    font-weight: bold;
    align-items: baseline;
}

@media screen and (max-width: 400px) {
    .number-box {
        font-size: 22px;
    }
}

.num {
    margin-right: 4px;
}

.num.--credit {
    color: rgb(189, 199, 219);
    font-weight: bold;
    text-decoration: line-through;
    margin-right: 8px;
}

.num:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 400px) {
    .num {
        font-size: 20px;
    }

    .num.--promo-credit {
        font-size: 24px;
    }

    .num.--credit {
        font-size: 20px;
    }

}


