.optionList {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 8px 24px 0px rgba(192, 204, 226, 0.33);
    max-width: 1140px;
    margin: 40px auto auto;
}

@media screen and (max-width: 400px) {
    .optionList {
        max-width: 350px;
    }
}

.optionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 56px;
}

@media screen and (max-width: 400px) {
    .optionBox {
        margin: 12px 16px;
    }
}

.optionCost {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.optionPrice {
    font-family: Bree Serif;
    margin-right: 24px;
    color: rgb(26, 31, 69);
    font-size: 32px;
    font-weight: bold;
    height: 32px;
    letter-spacing: -0.5px;
    width: 39px;
    word-wrap: initial;
}

@media screen and (max-width: 400px) {
    .optionPrice {
        color: rgb(60, 45, 160);
        font-size: 24px;
        height: 24px;
        text-align: right;
    }
}

.btn {
    background: rgb(255, 49, 130);
    border-radius: 0px;
    max-height: 56px;
    max-width: 102px;
}

@media screen and (max-width: 400px) {
    .optionPrice {
        max-height: 48px;
        max-width: 135px;
    }
}