.option-list {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 8px 24px 0 rgba(192, 204, 226, 0.33);
    width: 100%;
    max-width: 1140px;
    margin: 40px auto auto;
}

@media screen and (max-width: 400px) {
    .option-list {
        max-width: 350px;
        margin-top: 32px;
    }
}

.option-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 56px;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .option-box {
        margin: 12px 16px;
    }
}

.option-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.option-price {
    font-family: Bree Serif, sans-serif;
    color: rgb(60, 45, 160);
    margin-right: 24px;
    font-size: 32px;
    font-weight: bold;
    word-wrap: initial;
}

@media screen and (max-width: 400px) {
    .option-price {
        color: rgb(60, 45, 160);
        font-size: 24px;
        text-align: right;
    }
}

.btn {
    background: rgb(255, 49, 130);
    border-radius: 0;
    max-height: 56px;
    max-width: 102px;
}

@media screen and (max-width: 400px) {
    .btn {
        max-height: 48px;
        max-width: 135px;
    }
}
.option-credit{
    color: rgb(26, 31, 69);
    font-family: ChiswickGrotesqueLebara-Bold, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .option-credit {
        font-size: 22px;
    }
}