
.header {
    align-items: center;
    background-image: url("../src/images/prepaid-top_up-mobile-hero@2x.png");
    height: 350px;
}

@media screen and (max-width: 400px) {
    .header {
        height: 244px;
    }
}

.title {
    color: rgb(255, 255, 255);
    font-family: Bree Serif;
    font-size: 56px;
    font-weight: bold;
    height: 56px;
    letter-spacing: -0.88px;
    text-align: center;
    margin-top: 100px;
}

.purpleBanner {
    display: block;
    position: absolute;
    background: rgb(60, 45, 160);
    border-radius: 16px;
    height: 164px;
    min-width: 100px;
    max-width: 1140px;

}

@media screen and (max-width: 400px) {
    .purpleBanner {
        border-radius: 8px;
        height: 120px;
        max-width: 343px;
    }
}