.plan-list {
    width: 100%;
    max-width: 1140px;
}

.plan-box {
    list-style: none;
    margin-bottom: 40px;
}

.plan-title {
    color: rgb(60, 45, 160);
    font-family: Bree Serif, sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-top: 56px;
}

.plan-desc {
    color: rgb(60, 45, 160);
    font-family: Bree Serif, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .plan-title {
        font-size: 32px;
        margin-top: 40px;
    }

    .plan-desc {
        font-size: 16px;
        height: 24px;
        line-height: 24px;
    }
}